<div class="show-page">
  <%= render "form", group: @group %>

  <br>

  <div class="links-show">
    <%= link_to "Show this group", @group %> 
    <span> | </span> 
    <%= link_to "Back to groups", groups_path %>
  </div>
</div>
