<div class= "home-container">
  <h1 class="app-name">My Budget</h1>
  <div class="buttons">
    <%= link_to "LOG IN", new_user_session_path, class: 'login_btn' %>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'signup_btn' %>
  </div>
</div>