<div id="<%= dom_id group_operacion %>">
  <p>
    <strong>Group:</strong>
    <%= group_operacion.group_id %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= group_operacion.operation_id %>
  </p>

</div>
