<h1>Editing group operacion</h1>

<%= render "form", group_operacion: @group_operacion %>

<br>

<div>
  <%= link_to "Show this group operacion", @group_operacion %> |
  <%= link_to "Back to group operacions", group_operacions_path %>
</div>
