<div class="group-page">

  <div class="total-amount">
    <p>Total amount:</p>
    <strong><%= number_to_currency(@group.total) %></strong>
  </div>

  <div id="operations">
    <% @operations.each do |operation| %>
      <%= render operation %>
    <% end %>
  </div>
</div>

<%= link_to "New transaction", new_group_operation_path, class: 'add-btn' %>
